
<div class="container">
  <div class="row" style="margin-top:50px;">
    <div class="col-xs-4 col-xs-offset-4">
      <form ng-hide="identity.isAuthenticated()">
        <div class="form-group">
          <input class="form-control" placeholder="Username" ng-model="username" />
        </div>

        <div class="form-group">
          <input class="form-control" placeholder="Password" ng-model="password" type="password" />
        </div>
        <button class="btn btn-primary" ng-click="signIn(username, password)">Sign In</button>
      </form>

      <div class="text-center" ng-show="identity.isAuthenticated()">
        <div class="text-center">

          <h3>Hello! <br />{{identity.currentUser.firstName + " " + identity.currentUser.lastName}}</h3>

          <div class="btn-group" role="group">
            <a href="" ng-click="signOut()"><button type="button" class="btn btn-primary">Sign Out</button></a>
            <a href="/profile"><button type="button" class="btn btn-primary">Profile</button></a>
            <a href="/admin/users" ng-show="identity.currentUser.isAdmin()"><button type="button" class="btn btn-primary">Admin</button></a>
            <a href="/admin/new-post" ng-show="identity.currentUser.isAdmin()"><button type="button" class="btn btn-primary">New Post</button></a>
          </div>
        </div>

      </div>

    </div>
  </div>


</div>
