<div class="container padded-bottom">
  <div class="row">
    <div class="col-sm-12">
      <h1>Edit Post</h1>
      <form name="editPostForm" ng-submit="updatePost()">
        <div ng-include="'partials/posts/post-form'"></div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary pull-left" ng-disabled="editPostForm.$invalid" value="Update" />
        </div>
      </form>
      <button class="btn btn-danger pull-right" ng-click="deletePost()">Delete</button>
      <button style="margin-right: 20px;" class="btn btn-warning pull-right" ng-click="cancel()">Cancel</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="padded-top">Edit Comments</h2>
      <comment-list></comment-list>
    </div>
  </div>
</div>
