/*footer*/

footer {
	padding: 60px 0;
	font-size: 13px;
}
.icon-sprite.sprite-ig {
	background-position: -120px -40px;
}
.icon-sprite.sprite-ig:hover {
	background-position: -120px top;
}
.icon-sprite.sprite-fb {
	background-position: left -40px;
}
.icon-sprite.sprite-fb:hover {
	background-position: left top;
}
.icon-sprite.sprite-tw {
	background-position: -40px -40px;
}
.icon-sprite.sprite-tw:hover {
	background-position: -40px top;
}
