/*footer*/

footer {
	font-size: 14px;
	.copywrite {
		height: 100px;
		p{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

	.timeline-Header {
		display: none;
	}

.icon-sprite.sprite-ig {
	background-position: -120px -40px;
}
.icon-sprite.sprite-ig:hover {
	background-position: -120px top;
}
.icon-sprite.sprite-fb {
	background-position: left -40px;
}
.icon-sprite.sprite-fb:hover {
	background-position: left top;
}
.icon-sprite.sprite-tw {
	background-position: -40px -40px;
}
.icon-sprite.sprite-tw:hover {
	background-position: -40px top;
}

#sign-in, #signup {
	padding: 0 20px;
}
