/*footer*/

footer, section#content:after{
	height: 100px;
}
footer {
	background-color: $light-grey;
	font-size: 14px;
	.copywrite {
		height: 100px;
		p{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

	.timeline-Header {
		display: none;
	}

.icon-sprite.sprite-fb {
	background-position: left -41px;
}
.icon-sprite.sprite-fb:hover {
	background-position: left top;
}
.icon-sprite.sprite-tw {
	background-position: -40px -41px;
}
.icon-sprite.sprite-tw:hover {
	background-position: -40px top;
}

#sign-in, #signup {
	padding: 0 20px;
}
