@font-face {
    font-family: 'smoolthanregular';
    src: url('../fonts/Smoolthan/smoolthan_regular-webfont.woff2') format('woff2'),
         url('../fonts/Smoolthan/smoolthan_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'threeReg';
    src: url('../fonts/Three/three_regular-webfont.woff2') format('woff2'),
         url('../fonts/Three/three_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'threeLight';
    src: url('../fonts/Three/three_light-webfont.woff2') format('woff2'),
         url('../fonts/Three/three_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'threeBlack';
    src: url('../fonts/Three/three_black-webfont.woff2') format('woff2'),
         url('../fonts/Three/three_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arizonia';
    src: url('../fonts/Arizona/arizonia-regular-webfont.woff2') format('woff2'),
         url('../fonts/Arizona/arizonia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'threeReg', Helvetica, Arial;
	font-size: 16px;
	color: #666;
	font-weight: 400;
	letter-spacing: 1px;
}
p {
	line-height: 30px;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	text-transform: uppercase;
	font-family: 'threeBlack', Helvetica, Arial;
	font-weight: 700;
}
a {
	color: #3498db;
	text-decoration: none;
}
a:hover, a:focus {
	color: #308ac6;
}
.btn-default {
	border-radius: 2px;
	border: 1px solid none;
	font-size: 14px;
	font-weight: 700;
	color: $blue;
	padding: 11px 20px;
}
.btn-default:hover{
	background: $orange;
	color: #3498db;
	border: none;
}
.btn:active {
	box-shadow: none;
}
section.content {
  padding-top: 100px;
}
.padded {
  padding: 1em;
}
.padded-vertical{
  padding: 1em 0;
}
.padded-horizontal{
  padding: 0 1em;
}
.padded-2x{
  padding: 2em;
}
.padded-vert-2x{
  padding: 2em 0;
}
