@font-face {
    font-family: 'cloud-bold';
    src: url('../fonts/cloud/cloud-bold-webfont.woff2') format('woff2'),
         url('../fonts/cloud/cloud-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cloud-light';
    src: url('../fonts/cloud/cloud-light-webfont.woff2') format('woff2'),
         url('../fonts/cloud/cloud-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, body{
  height: 100%;
}
section#content{
  min-height: 100%;
  margin-bottom: -100px;
  margin-top: 100px;
  &:after{
    content: "";
    display: block;
  }
}
body {
	font-family: 'cloud-light', Helvetica, Arial;
	font-size: 16px;
	color: #333;
	letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}
p {
	line-height: 30px;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	text-transform: uppercase;
	font-family: 'cloud-bold', Helvetica, Arial;
	font-weight: 700;
}
a {
	color: #3498db;
	text-decoration: none;
}
a:hover, a:focus {
	color: #308ac6;
}
.btn {
  font-family: 'cloud-bold', Helvetica, Arial;
  border: none;
  border-radius: 2px;
 	text-transform: uppercase;
 	font-size: 14px;
 	padding: 10px;
}
.btn-default, .btn-primary {
 	background: $blue;
 	color: #fff;
  &:hover{
    background: $orange;
  	color: #fff;
  	border: none;
  }
}

.btn:active {
	box-shadow: none;
}
.padded {
  padding: 1em;
}
.padded-vertical{
  padding: 1em 0;
}
.padded-bottom{
  padding-bottom: 1em;
}
.padded-horizontal{
  padding: 0 1em;
}
.padded-2x{
  padding: 2em;
}
.padded-vert-2x{
  padding: 2em 0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
