
/*LOGO*/
.navbar-brand {
	padding: 0;
	margin: 0;
	background: url('../../img/logos/WAD_Logo.png') no-repeat;
	width: 192px;
	height: 41px;
	background-size: contain;
	opacity: 0;
	text-indent: -9999px;
}

/*NAV*/

.navbar {
	border: none;
	background: none;
	padding: 40px 0 60px 0;
}
.navbar-default .navbar-nav>li>a {
	font-family: 'threeReg', Helvetica, Arial;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #f39c12;
	padding: 11px 0;
	text-align: center;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #fff;
}

.navbar-toggle {
	border: none;
	margin-top:0;
	margin-right: 0;
	text-align: center;
	width: 32px;
	height: 32px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: none;
}
.navbar-default .navbar-collapse {
	border: none;
	background: rgba(44,62,80,0.8);
	border-radius: 2px;
	box-shadow: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	border: none;
	background: none;
	box-shadow: none;
	color: #fff;
}
.navbar.sticky {
	background-color: rgba(44,62,80,0.8);
	padding: 10px 0;
	transition: all 0.4s ease;
}



/*BANNER*/

header {
	//padding: 60px 0 180px 0;
}
header h1 {
	padding-top: 100px;
}
#home {
	position: relative;
  padding-top: 240px;
	background: url('../../img/banner/SideBySide_Dark.jpg') no-repeat;
	background: url('../../img/banner/Banner_Square-1.jpg') no-repeat;
	min-height: 600px;
	margin-top: -40px;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;
	.square-logo{
		position: absolute;
		background: url('../../img/logos/WAD_Square_Logo_Trans.png') center center no-repeat;
		background-size: contain;
		left: 20%;
		top: 6%;
		width: 250px;
		height: 250px;
	}
  h1 {
		position: absolute;
		text-transform: none;
		font-family: 'arizonia', Serif;
		top: 83%;
		left: 5%;
		font-size: 46px;
	 	color: #fff;
  }
	.contact-link {
		position: absolute;
		top: 70%;
		right: 12%;
		transform: rotate(8deg);
		font-family: 'arizonia', Serif;
		font-size: 46px;
		color: $grey-blue;
		&:hover{
			text-decoration: none;
		}
	}
 .btn-default {
	margin-top: 100px;
 	border: none;
 	background: $blue;
 	color: #fff;
 	text-transform: uppercase;
 	font-size: 18px;
 	padding: 16px 30px;
 }
 .btn-default:hover {
 	background: $orange;
 	color: #fff;
 }
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
	margin: 0;
}
.hide-logo{
	animation: fadeLogo 0.5s linear forwards;
}
.show-logo{
	animation: showLogo 0.5s linear forwards;
}

@keyframes fadeLogo {
	from{ opacity: 1;}
	to {opacity: 0;}
}
@keyframes showLogo {
	from{ opacity: 0;}
	to {opacity: 1;}
}
