
/*LOGO*/
.navbar-brand {
	padding: 0;
	margin: 0;
	background: url('../../img/logos/wad-logo-horz-light.png') no-repeat;
	width: 192px;
	height: 48px;
	background-size: contain;
	text-indent: -9999px;
}

/*NAV*/

.navbar {
	border: none;
	background: none;
	padding: 40px 0 60px 0;
	@include mq($L){
		margin-bottom: 0;
	}
}
.navbar-default .navbar-nav{
	>li {
		@include mq($S){
			margin-left: 25px;
		}
		>a {
			font-family: 'cloud-bold', Helvetica, Arial;
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			color: #f39c12;
			padding: 11px 0;
			text-align: center;
			@include mq($S){
				padding: 9px 0 0 0;
			}
		}
	}
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #fff;
}

.navbar-toggle {
	border: none;
	margin-top:0;
	margin-right: 0;
	text-align: center;
	width: 32px;
	height: 32px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: none;
}
.navbar-default .navbar-collapse {
	border: none;
	background: rgba(44,62,80,0.8);
	border-radius: 2px;
	box-shadow: none;
	@include mq($S){
		background: none;
	}
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	border: none;
	background: none;
	box-shadow: none;
	color: #fff;
}
.navbar.sticky {
	height: 61px;
	background-color: rgba(44,62,80,0.8);
	padding: 10px 0;
	transition: all 0.4s ease;
}
/*BANNER*/

header {
	//padding: 60px 0 180px 0;
}

#home {
	position: relative;
	background: url('../../img/banner/banner-mobile.jpg') no-repeat fixed 20% 0%;
	min-height: 300px;
	background-size: 500px;
	margin-top: -40px;

	@media screen and (min-width: 499px){
		background-size: 800px;
	}
	@include mq($S){
		background: url('../../img/banner/Banner_Square-2.jpg') no-repeat fixed 50% 0%;
		background-size: 1000px;
		min-height: 600px;
		margin-top: -40px;
	}
	@include mq($M){
		background-size: 1250px;
	}
	@include mq($L){
		background-size: 1400px;
	}
	@media screen and (min-width: 1398px){
		background-size: 1600px;
	}
	@media screen and (min-width: 1598px){
		background-size: 2000px;
	}
	.container{
		height: 300px;
		@include mq($S){
			height: 600px;
		}
	}
	.col-xs-4{
		height: 100px;
	}
  h1 {
		position: absolute;
		text-indent: -9999px
  }
	.contact-link {
		position: absolute;
		top: 71%;
		right: 12%;
		transform: rotate(8deg);
		font-size: 46px;
		color: $grey-blue;
		line-height: 1;
		&:hover{
			border: 2px solid $orange;
			border-radius: 4px;
			background: $orange;
			color: white;
			text-decoration: none;
		}
	}
 .btn-default {
	position: relative;
	top: 200px;
	@include mq($S){
		top: 380px;
		font-size: 18px;
	}
	@include mq($M){
		top: 500px;
	}
 }

 .btn-default:hover {
 	background: $orange;
 	color: #fff;
 }
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
	margin: 0;
}
.hide-logo{
	animation: fadeLogo 0.5s linear forwards;
}
.show-logo{
	animation: showLogo 0.5s linear forwards;
}

@keyframes fadeLogo {
	from{ opacity: 1;}
	to {opacity: 0;}
}
@keyframes showLogo {
	from{ opacity: 0;}
	to {opacity: 1;}
}
