.search{
  select{
    margin: 1em 0;
  }
}

.categories {
  display: inline-block;
  margin-right:10px;
  color: $blue;
}

.share {
  h4 {
    margin: 0 1em 0 0;
  }
  a {
    margin-right: 1em;
  }
}
