//   Media Queries
//   EXAMPLE: use the large breakpoint media query
//     @include mq($L) {}
@mixin mq($media-query) {
  @media ($media-query) { @content; }
}

$breakpoint-s: 768px;
$breakpoint-m: 992px;
$breakpoint-l: 1200px;


// Media Queries
$S: 'min-width:'+ $breakpoint-s;
$M: 'min-width:'+ $breakpoint-m;
$L: 'min-width:'+ $breakpoint-l;

$navy-blue: #2C3E50;
$blue: #3498db;
$black: #333;
$light-grey: #edf1f4;
$grey-blue: #566473;
$orange: #f39c12;
$font-bold: 'cloud-bold';
$font-reg: 'cloud-light';
