@import 'bootstrap';
@import 'variables';
@import 'global';
@import 'header';
@import 'home';
@import 'footer';
@import 'toastr';
@import 'modal';
@import 'posts';


/*media queries*/
@media (min-width: 480px) {
	.headshot {
		margin-bottom: 20px;
	}

}

@media(min-width: 768px) {


	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
		border-bottom: none;
	}

	.gallery-inner {
		border-right: 1px solid #fff;
	}
	// .banner {
	// 	background: #2c3e50 url(../../img/banner.png) no-repeat;
	// 	max-height: 600px;
	// 	margin: 0;
	// 	background-size: cover;
	// 	background-attachment: fixed;
	// 	background-position: 50% 50%;
	// }


}

@media(min-width: 992px){
	.navbar-default .navbar-nav>li {
		margin-left: 40px;
	}

	.services-web, .services-dev {
		margin-bottom: 0;
	}
	.heading h1 {
		background-position: left bottom;
		text-align: left;
	}
	.control-right {
		padding-top: 25px;
		text-align: right;
	}
	#carousel-creative .carousel-indicators {
		margin-bottom: 74px;
		text-align: right;
	}
	#carousel-creative .item h4{
		text-align: left;
	}
	#carousel-creative .item p{
		padding: 0;
		text-align: left;
	}
	#carousel-testimonials .carousel-control.left{
		background: none;
		left: 100%;
		margin-left: -164px;
	}
	#carousel-testimonials .carousel-control.right{
		background: none;
		right: 0;
		margin-right: 0;
	}
	#carousel-testimonials .carousel-control {
		margin-top: -114px;
	}
	#carousel-testimonials blockquote p{
		padding: 61px 30px 40px 30px;
	}
	#carousel-testimonials blockquote {
		margin-top: 0;
	}
	.copywite {
		text-align: left;
	}
	.social {
		text-align: right;
	}
	.carousel-pic {
		margin-bottom: 0;
	}
	.carousel-indicators {
		margin-bottom: -44px;
	}
	.contact h2, .thank-you h2{
		text-align: left;
	}
}
@media(min-width: 1200px) {

	.heading {
		padding: 3em 0;
	}
	.testimonial .heading {
		padding-bottom: 60px;
	}
	.services .col-md-4 {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.services-dev .col-md-4 {
		border-right: 1px solid #e3e3e3;
		border-left: 1px solid #e3e3e3;
	}
	#carousel-creative .carousel-indicators {
		text-align: right;
		margin-top: 144px;
	}
	#carousel-creative .item {
		padding-top: 0;
	}
	#carousel-testimonials .carousel-control {
		margin-top: -184px;
	}
	#carousel-testimonials .carousel-indicators li {
		border: none;
		opacity: 0.3;
		width: 20%;
		text-align: center;
	}
	#carousel-testimonials .carousel-indicators li.active {
		opacity: 1;
	}
	#carousel-testimonials blockquote p {
		padding: 61px 30px 0 30px;
	}
	.testimonial, .call-to-action {
		padding-bottom: 2em;
	}
}
