<div class="container">
  <div class="row col-xs-12">
    <div class="title">New Posts</div>
  </div>
  <div class="row">

    <div class="col-sm-8">
      <div class="post-list" ng-repeat="post in posts | filter:searchText | orderBy:sortOrder">
        <h2><a href ="/posts/{{post.slug}}">{{post.title}}</a></h2>
        <!-- <h5 class="categories" ng-repeat="cat in post.categories">{{cat}},</h5> -->
        <h6>{{post.postedDate | date}}</h6>
        <p>{{post.excerpt}}</p>
        <p ng-show="identity.currentUser.isAdmin()"><a href="/admin/edit-post/{{post.slug}}">Edit</a></p>
      </div>
    </div>

    <div class="col-sm-4 search">
      <h2>Search</h2>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="searchText" placeholder="Search" />
          <select class="form-control" ng-model="sortOrder" ng-Options="item.value as item.text for item in sortOptions">
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
