<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form name="newPostForm">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" name="title" ng-model="post.title" class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="categories">Categories:</label>
          <input type="text" name="categories" ng-model="post.categories" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="headerImage">Header Image</label>
          <input type="file" id="headerImage">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="form-group">
          <label for="excerpt">Excerpt:</label>
          <textarea rows="4" name="body" ng-model="post.excerpt" class="form-control" required/></textarea>
        </div>
        <div class="form-group">
          <label for="body">Body:</label>
          <textarea rows="8" name="body" ng-model="post.body" class="form-control" required/></textarea>
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          <input type="text" name="author" ng-model="post.author" class="form-control" required/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" ng-click="updatePost()" ng-disabled="newPostForm.$invalid">Submit</button>
          <a href="/"><button class="btn btn-danger" ng-click="cancel()">Cancel</button></a>
        </div>
      </form>
    </div>
  </div>
</div>
