<div class="container">
  <div class="row">
    <div class="col-xs-12 post-detials">
      <h1>{{post.title}}</h1>
      <h6>{{post.postedDate | date}}</h6>
      <h6 ng-repeat="cat in categories">{{cat}}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p>{{post.body}}</p>
      <p class="small">{{post.author}}</p>
    </div>
  </div>
</div>
