<div class="container">
  <div class="row">
    <!--MAIN CONTENT-->
    <div class="col-sm-8 post">

      <div class="post-detials">
        <h1 class="padded-bottom">{{post.title}}</h1>
        <h5>{{post.postedDate | date}}</h5>
        <!-- <h5 class="categories" ng-repeat="cat in post.categories">{{cat}},</h5> -->
      </div>

      <div class="post-content" ng-bind-html="post.body"></div>
      <p class="lead author padded-vertical">- {{post.author}}</p>

      <comment-form></comment-form>
      <div class="comment-list">
          <comment-list></comment-list>
      </div>
    </div>

    <!--SIDEBAR-->
    <div class="col-sm-4">
      <div class="share">
        <h3>Share</h3>
        <a target="_blank" href="https://twitter.com/home?status={{post.title}}%20%0Ahttp%3A//www.willarendsdev.com/posts/{{post.slug}}"><span class="icon-sprite sprite-tw">&nbsp;</span></a>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=willarendsdev.com/posts/{{post.slug}}"><span class="icon-sprite sprite-fb">&nbsp;</span></a>
      </div>
    </div>
  </div>
</div>
