<% layout('layout') -%>

<header class="banner" ng-cloak>

    <nav class="navbar sticky navbar-default navbar-fixed-top" role="navigation" ng-controller="navCtrl">
        <div class="container">

  <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand sticky" href="/"></a>
        </div><!--end navbar-header-->

  <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about" ng-click="linkTo('/#about')">About</a></li>
          <li><a href="#projects" ng-click="linkTo('/#projects')">Projects</a></li>
          <li><a href="#services" ng-click="linkTo('/#services')">Services</a></li>
          <li><a ui-sref="blog">Blog</a></li>
          <li><a href="#contact" ng-click="linkTo('/#contact')">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div> <!--/.container-fluid -->
  </nav>

</header><!-- end header-->

<section id="content" ng-cloak>
  <div ui-view></div>

</section>


<footer ng-controller="loginCtrl" ng-cloak>
  <div class="container">
    <div class="row">
          <div class="col-xs-12">
            <div class="copywrite">
            <p>&copy; 2016 Will Arends Design. All Rights Reserved | <a ng-click="toggleAccount()">Account</a> | <a ng-click="toggleSignup()">Signup</a> </p>
            </div>
          </div>
    </div>
  </div>

  <global-modal show='actShown' height="225px">
    <h3 class="text-center">Sign In</h3>
    <form id="sign-in" ng-hide="identity.isAuthenticated()">
      <div class="form-group">
        <input class="form-control" placeholder="Username" ng-model="username" />
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="Password" ng-model="password" type="password" />
      </div>
      <button class="btn btn-primary pull-right" ng-click="signIn(username, password)">Sign In</button>
    </form>
  </global-modal>

  <global-modal show='signupShown'>
    <h3 class="text-center">Sign Up</h3>
    <form id="signup" name="signupForm">
      <div class="form-group">
        <label for="fName">First Name:</label>
        <input type="text" name="fName" ng-model="fName" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="lName">Last Name:</label>
        <input type="text" name="lName" ng-model="lName" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="username">Username/Email:</label>
        <input type="text" name="username" ng-model="username" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="name">Password:</label>
        <input type="password" name="password" ng-model="password" class="form-control" required/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-click="signup()" ng-disabled="signupForm.$invalid">Signup</button>
        <a href="/"><button class="btn btn-danger" ng-click="cancel()">Cancel</button></a>
      </div>
    </form>
  </global-modal>

</footer>
