doctype
html
  head
    base(href="/")
    link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/vendor/toastr/toastr.min.css")
    link(rel="stylesheet" href="/css/min/app.css")
    
  body(ng-app="willsBlog")
    block main-content
    include scripts
