<div id="about" class="padded-vert-2x services">
  <div class="container">
    <div class="row text-center">
      <div class="services-web col-sm-4" ng-repeat="service in services">
        <div class="svg {{service.svg}}"></div>
          <h4>{{service.name}}</h4>
          <p>{{service.description}}</p>
          <a class="more design" ng-mouseover="showDetails = !showDetails" ng-mouseout="showDetails = !showDetails">More</a>
          <div class="more-details" ng-class="{'hidden-stuff': !showDetails }">
            <p>{{service.more}}</p>
          </div>
      </div>
    </div>
  </div>
</div>
<!--end about-->
