<div class="blurb padded-vertical">
      <div class="container">
          <div class="row text-center">
              <div class="col-sm-2 headshot">
                  <img src="img/Will-Headshot.png">
              </div>

              <div class="col-sm-6 bio">
                <p>My skills include the newest techniques and languages in web development. An active learner, I am a member of several of Denver's programing groups. I enjoy bringing clients ideas and dreams to life on the web. In my off time I head to the mountains for outdoor activities including snowboarding, camping and hiking and more. If you have any questions about a project please feel free to contact me and I would love to talk about it</p>
              </div>
              <div class="col-sm-4 twitter">
                <a class="twitter-timeline" data-height="300" href="https://twitter.com/willarends">Tweets by willarends</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
          </div>
      </div><!--end container-->
</div><!--end blurb-->
