<div class="blurb">
      <div class="container">
          <div class="row text-center">
              <div class="headshot">
                <div class="col-sm-6">
                    <img src="img/Will-Headshot.png">
                </div>
              </div><!-- end location-->

              <div class="bio">
              <div class="col-sm-6">
                <p>My skills include the newest techniques and languages in web development. An active learner, I am a member of several of Denver's programing groups. I enjoy bringing clients ideas and dreams to life on the web. In my off time I head to the mountains for outdoor activities including snowboarding, camping and hiking and more. If you have any questions about a project please feel free to contact me and I would love to talk about it</p>
              </div>
            </div><!-- end email-->
          </div>
      </div><!--end container-->
</div><!--end blurb-->
