<div id="home" class="text-center">
      <div class="container">
          <a href="#contact" class="btn btn-default btn-lg">Get A Free Quote</a>
      </div>
</div><!--end home-->



<div ng-include="'partials/main/about'"></div>

<div ng-include="'partials/main/work'"></div>

<div ng-include="'partials/main/services'"></div>

<div ng-include="'partials/main/blog-latest'"></div>

<div ng-include="'partials/main/testimonial'"></div>

<div ng-include="'partials/main/contact'"></div>

<div ng-include="'partials/main/blurb'"></div>
