<section id="home" class="text-center" data-type="background" data-speed="10">
      <div class="container">
        <h1>Will Arends Developement</h1>
          <a href="#contact" class="btn btn-default btn-lg">Get A Free Quote</a>
      </div>
</section>


<!--ABOUT-->
<section id="about" class="padded-vert-2x services">
  <div class="container">
    <div class="row text-center">
      <div class="services-web col-sm-4" ng-repeat="service in services">
        <div class="svg {{service.svg}}"></div>
          <h4>{{service.name}}</h4>
          <p>{{service.description}}</p>
          <a class="more design" ng-click="showDetails = !showDetails">More</a>
          <div class="more-details" ng-class="{'hidden-stuff': !showDetails }">
            <p>{{service.more}}</p>
          </div>
      </div>
    </div>
  </div>
</section>

<!--WORK-->
<section class="latest-work padded-top" id="projects" ng-controller="workCtrl">
    <div class="heading container">
        <div class="row">
          <div class="col-md-6">
              <h1>Projects</h1>
          </div>
        </div>
    </div>

    <div class="gallery clearfix">
        <div class="gallery-inner col-sm-3 col-xs-12" ng-repeat="project in projects">
          <div class="row">
              <img ng-src="{{project.backgroundImg}}" class="img-responsive">
              <div class="caption">
                <div class="caption-heading">
                  <h4>{{project.name}}</h4>
                </div>
                <div class="btn-trigger btn-group">
                    <a ng-click="project.clickFunc()" class="btn svg web-link">Link</a>
                    <a ng-hide="project.noLink" href="{{project.link}}" target="_blank" class="btn svg more-info"></a>
                </div>
              </div>
              <global-modal show="project.modal">
                <img class="img-responsive" ng-src="{{project.modalImg}}" />
              </global-modal>
          </div>
        </div>
    </div>
</section>

<!-- SERVICES -->
<section class="creative-process padded-bottom" id="services">
    <div class="heading container">
          <div class="row">
            <div class="col-md-6">
                <h1>Services</h1>
            </div>
          </div>
    </div>

    <div class="container">
      <div class="row" ng-controller="carouselCtrl">
        <div id="carousel-creative" class="carousel slide">

              <ol class="carousel-indicators">
                <li ng-repeat="slide in slides" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{slide.name}}</li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner slide-animation" ng-hide="!isCurrentSlideIndex($index)" ng-repeat="slide in slides">
                <div class="item active text-center">
                      <div class="col-sm-6 carousel-pic">
                        <div class="{{slide.svg}}"></div>
                      </div>
                      <div class="col-sm-6">
                        <h4>{{slide.name}}</h4>
                        <p>{{slide.desc}}</p>
                      </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>


<!--BLOG LATEST-->
<section id="blog-latest">
  <div class="heading container">
        <div class="row">
            <div class="col-md-6">
              <h1>Latest Posts</h1>
            </div>
        </div>
  </div>
  <div class="container">
    <div class="col-xs-12 row" ng-repeat="post in posts">
      <h3><a href ="/posts/{{post.slug}}">{{post.title}}</a></h3>
      <h6>{{post.postedDate | date}}</h6>
      <p>{{post.excerpt}}</p>
    </div>

    <div class="row col-xs-12">
      <h5><a href="/blog">View All Posts</a></h5>
    </div>
  </div>
</section>

<!--TESTIMONIAL-->
<section class="testimonial">
      <div class="heading container">
            <div class="row">
                  <div class="col-md-6">
                      <h1>Testimonials</h1>
                  </div>
            </div>
      </div>

      <div class="container">
          <div class="row">
              <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators testimonial-indicators">
                  <li data-target="#carousel-testimonials" data-slide-to="0" class="active"><img src="img/logos/crown-offroad.png"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <div class="item active text-center">
                            <blockquote>
                              <p>"In today's technological age, the first thing a new business needs is an online presence. I turned to Will Arends for guidance and expertise in the development of my very first website. Will was able to take my basic requirements and craft a fully functional website that far exceeded any of my expectations. What I did not know was that his experience and expertise in the field far surpasses simple website development. Will was able to help steer me in directions that no only improved the website itself, but help scope and channel my business model the right direction. I constantly receive compliments on the quality and ease of use of my site and I fully attribute my new business' success to the website Will developed and the many valuable lessons I have learned from Will."</p>
                              <cite>- Chris Steward, Owner Crown Offroad</cite>
                            </blockquote>
                    </div><!--end item-->

                </div>
              </div><!--end carousel-->
          </div>
      </div>
</section>


<!--CONTACT-->
<div ng-include="'partials/main/contact'"></div>

<!--BLURB-->
<section class="blurb padded-vertical">
      <div class="container">
          <div class="row text-center">
              <div class="col-sm-2 headshot">
                  <img src="img/Will-Headshot.png">
              </div>

              <div class="col-sm-6 bio">
                <p>My skills include the newest techniques and languages in web development. An active learner, I am a member of several of Denver's programing groups. I enjoy bringing clients ideas and dreams to life on the web. In my off time I head to the mountains for outdoor activities including snowboarding, camping and hiking and more. If you have any questions about a project please feel free to contact me and I would love to talk about it</p>
              </div>
              <div class="col-sm-4 twitter">
                <a class="twitter-timeline" data-height="300" href="https://twitter.com/willarends">Tweets by willarends</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
          </div>
      </div>
</section>
