<div class="services-web col-md-4" ng-repeat="service in services">
  <div class="svg {{service.svg}}"></div>
    <h4>{{service.name}}</h4>
    <p>{{service.description}}</p>
    <a href="#design" class="more design">More</a>
    <div id="design" class="more-services">
      <p>{{service.more}}</p>
    </div>
</div>
