<div class="testimonial">

      <div class="heading">
        <div class="container">
            <div class="row">
                  <div class="col-md-6">
                      <h1>Testimonials</h1>
                  </div>
            </div>
        </div>
      </div><!-- end heading -->

      <div class="container">
          <div class="row">
              <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators testimonial-indicators">
                  <li data-target="#carousel-testimonials" data-slide-to="0" class="active"><img src="img/logos/crown-offroad.png"></li>
                  <!--<li data-target="#carousel-testimonials" data-slide-to="1"><img src="img/logos/1wd.png"></li>-->

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active text-center">
                      <div class="row">
                            <blockquote>
                              <p>"In today's technological age, the first thing a new business needs is an online presence. I turned to Will Arends for guidance and expertise in the development of my very first website. Will was able to take my basic requirements and craft a fully functional website that far exceeded any of my expectations. What I did not know was that his experience and expertise in the field far surpasses simple website development. Will was able to help steer me in directions that no only improved the website itself, but help scope and channel my business model the right direction. I constantly receive compliments on the quality and ease of use of my site and I fully attribute my new business' success to the website Will developed and the many valuable lessons I have learned from Will."</p>
                              <cite>- Chris Steward, Owner Crown Offroad</cite>
                            </blockquote>
                      </div>
                    </div><!--end item-->



                </div><!--end carousel-inner-->
              </div><!--end carousel-->
          </div><!--end row-->
      </div>  <!-- end container -->
</div><!--end testimonial-->
