<!--latest work-->
<div class="latest-work" id="work">


        <div class="heading text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                  <h1>Projects</h1>
              </div>
            </div>
          </div>
        </div> <!-- end heading -->


    <div class="gallery clearfix">

        <div class="gallery-inner col-sm-3 col-xs-12">
          <div class="row">
              <img src="img/gallery/adiplayer.jpg" class="img-responsive">
              <div class="caption">
                <div class="caption-heading">
                  <h4>adidas adiPlayer</h4>

                </div>
                <div class="btn-trigger btn-group">
                    <a href="http://willarendsdesign.com/img/gallery/adiplayer_mockup.jpg" data-toggle="lightbox" data-gallery="hiddenimages" class="btn svg web-link">Link</a>

                </div>
              </div><!-- end caption -->
          </div>

        </div><!--end gallery-Inner-->


        <div class="gallery-inner col-sm-3 col-xs-12">
          <div class="row">
            <img src="img/gallery/crown-offroad.jpg" class="img-responsive">
              <div class="caption">
              <div class="caption-heading ">
                <h4>Crown Offroad</h4>

              </div>
              <div class="btn-trigger btn-group">
                  <a href="http://willarendsdesign.com/img/gallery/crown-offroad-mockup.jpg" data-toggle="lightbox" data-gallery="hiddenimages" class="btn svg web-link">Link</a>

              </div>
            </div><!-- end caption -->
          </div>
        </div><!--end gallery-Inner-->


        <div class="gallery-inner col-sm-3 col-xs-12">
          <div class="row">
            <img src="img/gallery/wires.jpg" class="img-responsive">
              <div class="caption">
              <div class="caption-heading">
                <h4>Colorado Broadband Portal</h4>

              </div>
              <div class="btn-trigger btn-group">
                  <a href="img/gallery/broadband.jpg" data-toggle="lightbox" data-gallery="hiddenimages" class="btn svg web-link">Link</a>

              </div>
            </div><!-- end caption -->
          </div>
        </div><!--end gallery-Inner-->

        <div class="gallery-inner col-sm-3 col-xs-12">
          <div class="row">
            <img src="img/gallery/home.jpg" class="img-responsive">
              <div class="caption">
              <div class="caption-heading">
                <h4>Greater Boston Homes</h4>

              </div>
              <div class="btn-trigger btn-group">
                  <a href="http://willarendsdesign.com/img/gallery/greater-boston.jpg" data-toggle="lightbox" data-gallery="hiddenimages" class="btn svg web-link">Link</a>

              </div>
            </div><!-- end caption -->
          </div>
        </div><!--end gallery-Inner-->

    </div><!-- end gallery -->
</div><!--end latestWork-->
